html {
  font-size: 10px;
  background: url(https://cdn.pixabay.com/photo/2017/08/07/03/53/drums-2599508_1280.jpg) bottom center;
  background-size: cover;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border-radius: 99rem;
  width: 80px;
  height: 80px;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem;
  transition: all .09s ease;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  box-shadow: 0 0 1rem #ffffff;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #67c4bb;
}
